# Entorno virtual
.venv/
venv/

# Base de datos
*.db
expense_sharing.db

# Archivos de sesión de Flask
flask_session/

# Archivos Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de datos JSON (ajusta según sea necesario)
participants.json
transactions.json

# Archivos de ambiente
.env

# Archivos de IDE
.vscode/
.idea/
*.swp

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos de caché de Python
.pytest_cache/
.mypy_cache/

# Archivos de distribución
dist/
build/
*.egg-info/

serviceAccountKey.json